@model PaymentOptionResponse

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card card-solid">
        <div class="card-body">
            <dl>

                <dt>@Html.DisplayNameFor(model => model.Name)</dt>
                <dd>@Html.DisplayFor(modelItem => modelItem.Name)</dd>
                
                <dt>@Html.DisplayNameFor(model => model.Description)</dt>
                <dd>@Html.DisplayFor(modelItem => modelItem.Description)</dd>

            </dl>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
@section Scripts {
<script>
    $(document).ready(function () {
        $("#navPaymentOptions").attr("class", "nav-link active");
    });
</script>
}