<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snit Tresorerie Admin | @ViewData["Title"]</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/templates/admin-lte/plugins/fontawesome-free/css/all.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/templates/admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/templates/admin-lte/dist/css/adminlte.min.css">
</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a asp-controller="Home" asp-action="Index" class="h1"><b>Snit</b>Tresorerie</a>
            </div>
            <div class="card-body">

                @RenderBody()

            </div>
            <!-- /.form-box -->
        </div><!-- /.card -->
    </div>
    <!-- /.register-box -->
    <!-- jQuery -->
    <script src="~/templates/admin-lte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/templates/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/templates/admin-lte/dist/js/adminlte.min.js"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>
        function OnComplete(data) {

        }

        function OnBegin() {
            //$("#progress").show();
            //alert("begin");
        }

        function OnFailure(response) {
            alert("Error occured.");
        }

        function OnSuccess(response) {
            //alert(response.token);

            /*
            $.ajax({
                url: '/account/users/count',
                cache: false,
                headers: {
                    Authorization: 'Bearer ' + 'token'
                },
                success: function (data) {
                    //$("#modal-lg").html(data);
                    //$("#modal-lg").modal("toggle");
                }
            })

             */

            @{
                var userId = User.FindFirstValue(ClaimTypes.NameIdentifier);
                var GivenName = User.FindFirstValue(ClaimTypes.Name);
                var Surname = User.FindFirstValue(ClaimTypes.Surname);

            }

            //alert("Bienvenue @GivenName @Surname.");
        }
    </script>

</body>
</html>