@model string

@{
    Layout = "_LayoutAuthentication";
}

<p class="login-box-msg">Votre email <br />"<strong>@Model</strong>"<br /> a été confirmé.<br /> Veuillez <a asp-action="Login">cliquez ici pour vous connecter</a>.</p>