@model LoginRequest
@inject IRepositoryWrapper repository

@{
    Layout = "_LayoutAuthentication";
}

<p class="login-box-msg">Sign in to start your session</p>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="input-group mb-3">
        <input asp-for="Email" class="form-control" placeholder="Email">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
    </div>
    <span asp-validation-for="Email" class="text-danger"></span>

    <div class="input-group mb-3">
        <input asp-for="Password" class="form-control" placeholder="Mot de passe">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <span asp-validation-for="Password" class="text-danger"></span>

    <div class="row">
        <div class="col-8">
            <div class="icheck-primary">
                <input type="checkbox" id="remember" asp-for="RememberMe">
                <label for="remember">
                    Se Rappeler de moi
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">S'Authentifier</button>
        </div>
        <!-- /.col -->
    </div>
</form>

@*
    <div class="social-auth-links text-center mt-2 mb-3">
        <a href="#" class="btn btn-block btn-primary">
            <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
        </a>
        <a href="#" class="btn btn-block btn-danger">
            <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
        </a>
    </div>
    <!-- /.social-auth-links -->
*@

<p class="mb-1">
    <a asp-controller="Account" asp-action="ForgotPassword">J'ai oublié mon mot de passe</a>
</p>

@*
@if (await repository.Account.CountUsersAsync()<1)
{
    <p class="mb-0">
        <a asp-controller="Account" asp-action="RegisterAdmin" class="text-center">S'inscrire comme nouveau membre</a>
    </p>
}
else
{
    <p class="mb-0">
        <a asp-controller="Account" asp-action="Register" class="text-center">S'inscrire comme nouveau membre</a>
    </p>
}
*@
