@model AppUserRequest

@{
    Layout = "_LayoutAuthentication";
}

<p class="login-box-msg">Création de compte administrateur</p>

<form method="post" asp-controller="Account" asp-action="RegisterAdmin">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="input-group mb-3">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-user-alt"></span>
            </div>
        </div>
        <input asp-for="LastName" class="form-control" placeholder="Nom">
    </div>
    <span asp-validation-for="LastName" class="text-danger"></span>
    
    <div class="input-group mb-3">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-user-alt"></span>
            </div>
        </div>
        <input asp-for="FirstName" class="form-control" placeholder="Prénoms">
    </div>
    <span asp-validation-for="FirstName" class="text-danger"></span>

    <div class="input-group mb-3">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
        <input asp-for="Email" class="form-control" placeholder="Email">
    </div>
    <span asp-validation-for="Email" class="text-danger"></span>

    <div class="input-group mb-3">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
        <input asp-for="Password" class="form-control" placeholder="Mot de passe">
    </div>
    <span asp-validation-for="Password" class="text-danger"></span>

    <div class="input-group mb-3">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
        <input asp-for="ConfirmPassword" class="form-control" placeholder="Retapez le mot de passe">
    </div>
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    <div class="row">
        <div class="col-7">
            <div class="icheck-primary">
                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                <label for="agreeTerms">
                    @*J'accepte les <a href="#">termes</a>*@
                    J'accepte les termes
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-5">
            <button type="submit" class="btn btn-primary btn-block">S'enregistrer</button>
        </div>
        <!-- /.col -->
    </div>
</form>

<a asp-controller="Account" asp-action="Login" class="text-center">Je suis déjà membre</a>