@{
    Layout = "_LayoutAuthentication";
}

@model ResetPasswordModel

<p class="login-box-msg">Votre mot de passe a été réinitialisé. Veuillez consulter<a asp-action="Login">cliquez ici pour vous connecter</a>.</p>
