@{
    Layout = "_LayoutAuthentication";
}

@model ResetPasswordModel

<p class="login-box-msg">Vous n'êtes qu'à un pas de votre nouveau mot de passe, récupérez votre mot de passe maintenant.</p>
<form method="post" asp-action="ResetPassword">
    <div class="input-group mb-3">
        <input asp-for="Password" class="form-control" placeholder="Password" />
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <span asp-validation-for="Password" class="text-danger"></span>

    <div class="input-group mb-3">
        <input asp-for="ConfirmPassword" class="form-control" />
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-lock"></span>
            </div>
        </div>
    </div>
    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

    <div class="row">
        <input type="hidden" asp-for="Email" class="form-control" />
        <input type="hidden" asp-for="Token" class="form-control" />
        <div class="col-12">
            <button type="submit" class="btn btn-primary btn-block">Modifier le mot de passe</button>
        </div>
    </div>
</form>
