@model OperationRequest

<form enctype="multipart/form-data" method="post" asp-controller="Operations" asp-action="SaveOperation" asp-route-id="@Model.Id"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-begin="OnBegin" data-ajax-complete="OnComplete"
      data-ajax-failure="OnFailure" data-ajax-success="OnSuccess">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" type="hidden" class="form-control" />
        <input asp-for="AppUserId" type="hidden" class="form-control" />

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
@*
        <div class="form-group">
            <label asp-for="Country" class="control-label"></label>
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country" class="text-danger"></span>
        </div>
        

        <div class="form-group">
            <label asp-for="Citys" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
*@
    </div>

    <div class="modal-footer justify-content-between">
        <input type="submit" value="Save changes" class="btn btn-primary btn-block" />
    </div>

</form>

<script src="~/js/modals.js"></script>