@model IntervenorRequest

<form enctype="multipart/form-data" method="post" asp-controller="Intervenors" asp-action="SaveIntervenor" asp-route-id="@Model.Id"
      data-ajax="true" data-ajax-method="POST"
      data-ajax-begin="OnBegin" data-ajax-complete="OnComplete"
      data-ajax-failure="OnFailure" data-ajax-success="OnSuccess">
    <div class="modal-body">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="Id" type="hidden" class="form-control" />
        <input asp-for="ImgLink" type="hidden" class="form-control" />
        
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="BankAccount" class="control-label"></label>
            <input asp-for="BankAccount" class="form-control" />
            <span asp-validation-for="BankAccount" class="text-danger"></span>
        </div>

        <div class="form-group">
            @if (!string.IsNullOrEmpty(Model.ImgLink))
            {
                <label asp-for="ImgFile" class="control-label"></label>
                <div class="col">
                    <div class="custom-file">
                        <input asp-for="ImgFile" class="form-control custom-file-input" type="file" accept="image/*" />
                        <label asp-for="ImgFile" class="custom-file-label"></label>
                        <output id="images"><img src="@Model.ImgLink" asp-append-version="true" alt="picture of @Model.FirstName @Model.LastName" style="height:70px; width: auto;" width="240" /></output><br />
                    </div>
                </div>
            }
            else
            {
                <label asp-for="ImgFile" class="control-label"></label>
                <div class="col">
                    <div class="custom-file">
                        <input asp-for="ImgFile" class="form-control custom-file-input" type="file" accept="image/*" />
                        <label asp-for="ImgFile" class="custom-file-label"/>
                        <output id="images"></output><br />
                    </div>
                </div>
            }
        </div>


    </div>

    <div class="modal-footer justify-content-between">
        <input type="submit" value="Save changes" class="btn btn-primary btn-block" />
    </div>

</form>

<script src="~/js/modals.js"></script>